<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anzhen.mapper.AImageMapper">

    <select id="mainView" resultType="com.anzhen.entity.AImage" flushCache="true">
        SELECT *
        FROM a_image
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="list != null and list.size > 0" >
                 id  NOT IN
                <foreach collection="list" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
           AND  state = #{state}
        </trim>
        Order by created_time desc
    </select>
</mapper>
